@font-face {
    font-family: 'rawline';
    src: url('https://cdn.rawgit.com/meesam513/Tropicana-Font/blob/main/Tropicana%20-%20Primary%20Font.woff);
    font-weight: 100;
    font-style: normal;
} 
